<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="KazinoEntities" connectionString="metadata=res://*/Base.Kazino.csdl|res://*/Base.Kazino.ssdl|res://*/Base.Kazino.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL-SER-LARISA\SERV1215;initial catalog=Kazino1337;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Kazino1337Entities" connectionString="metadata=res://*/Base.Kazino.csdl|res://*/Base.Kazino.ssdl|res://*/Base.Kazino.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-975QG3A;initial catalog=Kazino1337;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Kazino1337Entities1" connectionString="metadata=res://*/Base.Model1.csdl|res://*/Base.Model1.ssdl|res://*/Base.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;initial catalog=Kazino1337;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Kazino1337Entities2" connectionString="metadata=res://*/Base.Model.csdl|res://*/Base.Model.ssdl|res://*/Base.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-975QG3A;initial catalog=Kazino1337;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>